/* header social icons */


header .top_header .fa-facebook:hover {
    color:#3B5998 !important;
}
header .top_header .fa-twitter:hover {
    color:#33ccff !important;
}
header .top_header .fa-google-plus:hover {
    color:#BD3518 !important;
}
header .top_header .fa-vimeo:hover {
    color:#0590B8 !important;
}
header .top_header .fa-linkedin:hover {
    color:#007bb7 !important;
}

/* footer social icons */

footer .top_footer .part1 ul li.facebookIco a:hover{
    background-color:#3B5998 !important;
}
footer .top_footer .part1 ul li.twitterIco a:hover{
    background-color:#33ccff !important;
}
footer .top_footer .part1 ul li.googleplusIco a:hover{
    background-color:#BD3518 !important;
}
footer .top_footer .part1 ul li.skypeIco a:hover{
    background-color:#0590B8 !important;
}
footer .top_footer .part1 ul li.linkedinIco a:hover{
    background-color:#007bb7 !important;
}
